<meta name="viewport" content="width=device-width, initial-scale=1">
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <div class="container"> 
        <div id="accordion" class="accordion" > 
        <div class="card mb-0" *ngFor="let x of myfaq" >
        <a class="card-header collapsed" data-toggle="collapse" href="#collapseOne{{x.id}}"> 
        <div class="card-title"> 
        {{x.id}} {{x.ques}}<span class="glyphicon glyphicon-plus" style="float:right"></span>
        
        </div> 
        </a> 
        <div id="collapseOne{{x.id}}" class="card-body collapse" data-parent="#accordion" > 
        <p>{{x.myfaq}}</p> 
        </div> 
        
        </div> 
        </div> 
        </div>

 <div >
  
 </div>
